<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <h1>Create a New Message as: <%= user.firstname %> <%= user.lastname %></h1>
  <%- include('partials/errors.ejs') %>
  <form action="/messages/new" method="POST">
    <label for="message">Your Message:</label>
    <br>
    <textarea name="message" id="message" placeholder="Say something..."></textarea>
    <br>
    <button type=submit>Create</button>
  </form>
  <a href="/">Back to Home</a>
</body>
</html>