<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
  <% if (locals.user) { %>
    <h1>Welcome Back, <%= user.firstname %> <%= user.lastname %>!</h1>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <h1>Welcome!</h1> 
    <p>Please log in. </p>
    <form action="/log-in" method="POST">
      <label for="email">Username</label>
      <input type="email" id="email" name="email" placeholder="someone@example.com">
      <br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">Sign Up</a>
  <% } %>
</body>
</html>